.backinfo {font-style: italic;
    text-align: left;
    color: navy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSfTro6gxAgF3wPvmApuFfUHTgJ4d09Ob5cRL8p4rkMYwRRCka");
}
